{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}
<div class="container pt-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results for <span class="text-info">"{{ request.GET.keyword }}"</span></h3>
            <hr>
            <div class="row">
                {% for result in results %}
                <div class="col-6 col-md-4 col-lg-3">
                    <img src="{{ result.image.url }}" class="img-fluid" alt="" style="height: 250px;">
                    <h4><a href="{% url 'ecomapp:productdetail' result.slug %}" class="fs-5">{{ result.title }}</a></h4>
                    <p>Price: Rs.<strike>{{ result.market_price }}</strike> Rs.{{ result.selling_price }}</p>
                    <a href="{% url 'ecomapp:addtocart' result.id %}" class="btn btn-primary">Add To Cart</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
